<h4>
  <a href="" ui-sref="^.list" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>

  <span ng-show="!item.id">Add a new schema</span>
  <span ng-show="item.id">Edit schema</span>

</h4>


<div class="row">
  <div class="col-md-8">
    <div class="alert alert-danger" ng-if="addError">Could not add schema!</div>
    <form name="schemaForm"
          sf-schema="schema"
          sf-form="form"
          sf-model="schemaModel"
          ng-submit="onSubmit(schemaForm)"></form>
  </div>
  <div class="col-md-4">
    <pre>{{schemaModel | json}}</pre>
    <pre>{{schema | json}}</pre>
  </div>
</div>
